<%- include("header") -%>
<h2>This is the about page</h2>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quae, eos
  laborum repellat accusamus amet tenetur rerum exercitationem quibusdam dolorum
  suscipit minus reiciendis.
</p>
<%- include("footer") -%>
